.BuildControls {
    width:100%;
    display: flex;
    flex-flow:column;
    align-items:center;
    margin:auto;
    background-color: #CF8F2E;
    box-shadow: 0 2px 0px #ccc;
    padding: 10px 0;
}